<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.univer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/colicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Autorization" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="MainActivity1"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="MainActivity2"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Lecture"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture1"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture2"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture3"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture4"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture5"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture6"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture7"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture8"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture9"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture10"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Lecture" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture11"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture22"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture33"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture44"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture55"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture66"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture77"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture88"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture99"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".TxtLecture.TxtLecture1010"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LectureStudent" />
        </activity>
        <activity
            android:name=".Report"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>
        <activity
        android:name=".ReportStudent"
        android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity1" />
    </activity>
        <activity
            android:name=".Test.Test1"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test2"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test3"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test4"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test5"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test6"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test7"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test8"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test9"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".Test.Test10"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>

        <activity
            android:name=".Teacher"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity2" />
        </activity>
        <activity
            android:name=".Student"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity2" />
        </activity>
        <activity
            android:name=".Subject"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Search"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Report" />
        </activity>
        <activity
            android:name=".MarkForTeacher"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MarkForStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>

        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivityStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>
        <activity
            android:name=".LectureStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>

        <activity
            android:name=".News"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".NewsStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>

        <activity
            android:name=".Calendar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".CalenderActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Calendar" />
        </activity>

        <activity
            android:name=".CalendarStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>

        <activity
            android:name=".AboutUsStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity1" />
        </activity>

        <activity
            android:name=".CalenderActivityStudent"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarStudent" />
        </activity>


        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



    </application>

</manifest>
